        section.section {
        background: transparent;
    }
    
    .slideshow {
        box-shadow: 0px 0px 40px rgba(0, 0, 0, .3);
        .slide img {
            max-width: 100%;
            width: 100%;
        }
        .slick-prev:before,
        .slick-next:before {
            color: black;
        }